@import '~nativescript-theme-core/css/core.light.css';

Page {
  background: linear-gradient(tobottom, #f0f2f0, #000c40);
}

ActionBar {
  background-color: #f0f2f0;
  color: #444;
}

.btn-tide {
  background-color: #642b73;
  color: white;
}

.btn-burning {
  background-color: #ff4b2b;
  color: white;
}
