@import '~nativescript-theme-core/css/core.light.css';

.title {
  font-size: 20;
  horizontal-align: center;
  margin: 20;
}

button {
  font-size: 22;
  horizontal-align: center;
  margin: 10px 0;
}
